.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 20px;
}

.navbar .nav-link {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.navbar .nav-link:hover {
  background: #555;
}
